.DARK-MODE {
    background-color: black;
}

header.DARK-MODE {
    color:white
}

main.DARK-MODE {
    background-color: black;
}

button.DARK-MODE {
    background: #14342B;
}

.btns-container > button.DARK-MODE {
    width: 20px;
    background: #14342B;
}